[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
	ignore = dirty
	branch = hardknott
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	ignore = dirty
	branch = hardknott
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	ignore = dirty
	branch = 1.50
[submodule "meta-vuplus"]
	path = meta-vuplus
	url = https://github.com/satdreamgr/meta-vuplus.git
	branch = "zeus"
[submodule "meta-xp"]
	path = meta-xp
	url = https://github.com/satdreamgr/meta-xp.git
[submodule "meta-xtrend"]
	path = meta-xtrend
	url = https://github.com/satdreamgr/meta-xtrend.git
	branch = zeus
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/oe-mirrors/meta-qt5.15.git
	branch = 5.15
[submodule "meta-gigablue"]
	path = meta-gigablue
	url = https://github.com/satdreamgr/meta-gigablue.git
[submodule "meta-edision"]
	path = meta-edision
	url = https://github.com/satdreamgr/meta-edision.git
	branch = zeus
[submodule "meta-ixuss"]
	path = meta-ixuss
	url = https://github.com/satdreamgr/meta-ixuss.git
[submodule "meta-octagon"]
	path = meta-octagon
	url = https://github.com/satdreamgr/meta-octagon.git
	branch = zeus
[submodule "meta-gfutures"]
	path = meta-gfutures
	url = https://github.com/satdreamgr/meta-gfutures.git
	branch = zeus
